<div class="flex h-screen py-24 flex-col justify-center items-center gap-0 bg-gray-50 font-rustica">
    <div class="flex w-5/6 p-0 flex-col items-center gap-6">
        <app-logo></app-logo>

        <div class="flex w-[448px] p-8 flex-col justify-center items-start gap-5 rounded-lg bg-white shadow">
            <div class="w-[379.449px] text-gray-900 text-2xl font-bold tracking-[-0.24px]">
                Change Password
            </div>
            
            <app-text-input label="Email" placeholder="Enter your email" class="w-full"></app-text-input>
            <app-text-input label="New Password" placeholder="" class="w-full"></app-text-input>
            <app-text-input label="Confirm Password" placeholder="" class="w-full"></app-text-input>
        
            <button class="flex py-3.5 px-5 justify-center items-center gap-2 self-stretch rounded-lg bg-primary-600">
                <span class="text-white text-sm font-medium">Reset passwod</span>
            </button>
        </div>
    </div>
</div>
