<div class="flex p-0 items-start gap-3 self-stretch">
    <button type="button" class="flex h-10 py-2.5 px-5 justify-center items-center gap-2 flex-1 border border-gray-200 rounded-lg">
        <img class="w-5 h-5" src="assets/Google.svg" alt="google" />
        <span class="text-primary-900 text-sm font-medium leading-6 font-rustica">Google</span>
    </button>

    <button type="button" class="flex h-10 py-2.5 px-5 justify-center items-center gap-2 flex-1 border border-gray-200 rounded-lg">
        <img class="w-5 h-5" src="assets/LinkedIn.svg" alt="google" />
        <span class="text-primary-900 text-sm font-medium leading-6 font-rustica">LinkedIn</span>
    </button>

    <button type="button" class="flex h-10 py-2.5 px-5 justify-center items-center gap-2 flex-1 border border-gray-200 rounded-lg">
        <img class="w-5 h-5" src="assets/Microsoft_logo 1.svg" alt="google" />
        <span class="text-primary-900 text-sm font-medium leading-6 font-rustica">Microsoft</span>
    </button>
</div>
