<div class="flex flex-col items-start gap-2 flex-1">
    <label class="self-stretch text-primary-900 font-rustica text-sm font-medium text-gray-500 font-rustica text-sm font-normal">
        Password
    </label>

    <div class="relative w-full">
        <input
            class="flex py-3 px-4 w-full items-center gap-2.5 self-stretch rounded-lg border border-gray-300 outline-none bg-gray-50 text-gray-500 font-rustica text-sm font-normal focus:ring-primary-500 focus:border-primary-500"
            type="password"
            id="password"
            name="password"
            [ngClass]="{
                'border-red-500': error
            }"
            [(ngModel)]="value"
            data-popover-target="popover-password"
            data-popover-placement="right"
            (blur)="onBlur()"
        />

        <div data-popover id="popover-password" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
            <div class="p-3 space-y-2">
                <h3 class="font-semibold text-gray-900 dark:text-white">Must have at least 6 characters</h3>
                <div data-hs-strong-password='{
                        "target": "#password",
                        "hints": "#hs-strong-password-hints",
                        "minLength": 12,
                        "stripClasses": "hs-strong-password:opacity-100 hs-strong-password-accepted:bg-teal-500 h-1 flex-auto rounded-full bg-orange-300 opacity-50 mx-1"
                    }' class="flex mt-2 -mx-1"
                ></div>
                <p>It’s better to have:</p>
                <ul id="hs-strong-password-hints">
                    <li data-hs-strong-password-hints-rule-text="uppercase" class="flex items-center mb-1">
                        <span class="hidden" data-check>
                            <svg data-check class="w-3.5 h-3.5 me-2 text-green-400 dark:text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                            </svg>
                        </span>
                        <span data-uncheck>
                            <svg class="w-3 h-3 me-2.5 text-gray-300 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                        </span>
                        Upper & lower case letters
                    </li>
                    <li data-hs-strong-password-hints-rule-text="special-characters" class="flex items-center mb-1">
                        <span class="hidden" data-check>
                            <svg data-check class="w-3.5 h-3.5 me-2 text-green-400 dark:text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                            </svg>
                        </span>
                        <span data-uncheck>
                            <svg class="w-3 h-3 me-2.5 text-gray-300 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                        </span>
                        A symbol (#$&)
                    </li>
                    <li :minLength="12" data-hs-strong-password-hints-rule-text="min-length" class="flex items-center">
                        <span class="hidden" data-check>
                            <svg data-check class="w-3.5 h-3.5 me-2 text-green-400 dark:text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                            </svg>
                        </span>
                        <span data-uncheck>
                            <svg class="w-3 h-3 me-2.5 text-gray-300 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                        </span>
                        A longer password (min. 12 chars.)
                    </li>
                </ul>
            </div>
            <div data-popper-arrow></div>
        </div>

        <button 
            type="button" 
            data-hs-toggle-password='{"target": "#password"}'
            class="absolute top-0 end-0 p-3.5 rounded-e-md dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
        >
            <svg class="flex-shrink-0 w-3.5 h-3.5 text-gray-400 dark:text-neutral-600" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path class="hs-password-active:hidden" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"/>
                <path class="hs-password-active:hidden" d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"/>
                <path class="hs-password-active:hidden" d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"/>
                <line class="hs-password-active:hidden" x1="2" x2="22" y1="2" y2="22"/>
                <path class="hidden hs-password-active:block" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/>
                <circle class="hidden hs-password-active:block" cx="12" cy="12" r="3"/>
            </svg>
        </button>
    </div>

    <div *ngIf="error" class="text-red-500 text-xs">
        {{ error }}
    </div>
</div>
